
*{
    box-sizing: border-box;
}

/* Type selector */
body{
    color: #878787;
    background-color: rgb(228, 227, 233);
    margin: 0;
    font-weight: bolder;
    font-size: 1em;
    font-family: helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 5.625rem;  /* 90px / 16*/
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    line-height:1.2;
    text-shadow: 0 7px 1px  rgba(0, 0, 0, .8);
    margin: 12px 0 0;
/* 3d-text */
    /* text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15); */

}



h2{
    font-size: 3.3125em; /* 53px / 16px*/
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: .5em; /* 26px / 53px*/
    
}

h3{
    font-size: 1.25em; /*20px / 16px */
    color: #48525c;
    line-height: 1.2;
    margin-bottom: 1.7em; /*34 / 20 */
}


/* Class selector */
.main-header{
    background: linear-gradient(rgb(4, 46, 88), transparent 50%), linear-gradient(0deg, rgb(226, 222, 241), rgba(1, 37, 73, 0.418),  transparent 5%),
    #ffa949 url('./images/lake\ tahoe\ image2.jpg') no-repeat center ;
    background-size:cover ;
    padding-top: 170px;
    height: 700px;   
    
    /* background-image: url('../images/lake\ tahoe\ image2.jpg');
    background-repeat: no-repeat;
    background-position: center; */
}

.title{
    color: white;
    font-size: 1.625rem; /*26px / 16*/
    letter-spacing: 0.065em;
    font-weight: 200px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}


.t-border{
    border-top: 2px solid lightgray ; 
}

a:link{
    color: orange;
    text-decoration: none;
}
a:visited{
    color: rgb(45, 159, 197);
}
a:hover{
    color: rgb(94, 43, 214);
    text-decoration: underline;
}
a:active{
    color: lightsalmon;
}
a:focus{
    background-color: orange;
    border: 3px solid lightblue;
    color: white;
}

/* ID selector */
#main-footer{
    padding: 60px 0;
    border-bottom: 10px solid rgb(4, 46, 88);
}


/* layout section */

.primary-content,
.secondary-content{
    width: 75% ;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 900px;
}

.primary-content,
.main-header,
#main-footer{
    text-align: center;
}

.primary-content{
    padding-top: 25px ;
    padding-bottom:95px ;
}

.secondary-content{
    padding-top: 80px;
    padding-bottom:70px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.section-1,
.section-2{ 
    width: 46.5% ;
}
.section-1{
    padding-left: 15px;
}
.section-2{
    padding-right: 15px;
}


.callout{
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
    
}

.callout:hover{
    text-decoration: none;
}

.wildlife{
    color: white;
    background-color: #434a52;
    padding: 18% 24%;
    border-top: 10px solid #ffa949;
    margin: 105px 0 60px;
    background-image: url('./images/10825307.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, .8) ;
    border-radius: 50px ;
    
}

img{
    margin-bottom: 20px ;
    width: 100%;
    border-radius: 10px;

}

ul,
ol{
    margin: 30px 0;
    /* list-style-position: ; */
}

li{
    margin-bottom: 15px;
}

.arrow{
    font-size: 80px;
    color: white;
}




/* media Queries------------------------ */

@media (max-width:1024px) {
    
    .primary-content,
.secondary-content{
        width: 90% ;
    
    }

    .wildlife{
        padding: 10% 20%;
        margin: 50px 0 20px;
    }
    

}


@media (max-width:820px) {
    .primary-content,
    .secondary-content{
        width: 100%;
        padding: 20px;
        border: none;
    }

    .main-header{
        max-height: 380px;
        padding: 50px 25px 0 ;
    }

    .title{
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    border-bottom: none;
    } 

    #main-footer{
        padding: 20px 0;
    }

    h1{
        font-size: 3rem ;
        line-height:1.2;
    }
    

    .wildlife{
        padding: 10% 10%;
    }

    h2{
        font-size: 3em; /* 53px / 16px*/
        font-weight: bold;
        line-height: 1;
        color: #a3c6ee;
    }
    .wildlife p{
        font-size: 20px;
    }
    
    .arrow{
        display: none;
    }

    .secondary-content{
        display: block;
    }

    .section-1,
.section-2{ 
    width: 100% ;
}

.section-1{
    padding-left: 0;
}
.section-2{
    padding-right: 0;
    padding-top: 50px;
}
}


